* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* medidas sao tomadas da borda */
}

header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #8b0000;
}

header nav {

    display: flex;
    justify-content: flex-end;

    a {

        a:link {
            text-decoration: none;
            color: white;
        }

        a:visited {
            text-decoration: none;
            color: white;
        }

        padding:20px;
        text-decoration: none;
        font-size: 1rem;
        color: white;
    }
}

header h1 {
    font-size: 2em;
    padding: 1em;
    color: white;
}

body,
html {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

main h2 {
    font-size: 18px;
    margin: 10px 0;
    padding: 5px;
    text-align: center;
}

main h4 {
    font-size: 18px;
    margin: 10px 0;
    padding: 5px;
    text-align: center;
    background-color: #8b0000;
    color: white;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

article {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    transition: transform 0.2s, box-shadow 0.2s;
}

article:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

article img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

article h3 {
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
}

article p {
    font-size: 14px;
    color: #555;
    text-align: center;
    margin-bottom: 10px;
}

article .price {
    font-size: 16px;
    font-weight: bold;
    color: #8b0000;
    margin-bottom: 15px;
}

article button {
    background-color: #8b0000;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

article button:hover {
    background-color: #8b0000;
}

footer {
    background-color: white;
    color: black;
    padding: 10px 0;
    text-align: center;
}