*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

label {
    font-size: small;
}



input {
    font-size: medium;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

html, body {
    height: 100%;
    margin: 0;
}

h1{
    background-color: #1db954;
    color: white;
    padding: 30px;
    text-align: center;
    margin: 0px;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
    
}

body {
    background-color: rgba(221, 221, 221, 0.742);
    
}

nav{
    background-color: white;
    color:#383838;
    padding: 25px;
    text-align: center;
    margin-bottom: 15px;
}

footer{
    background-color: #1db954;
    padding: 10px;
    color:white;
    text-align: center;

 }

 #home {
    text-align: left;
    padding: 25px;
    background: rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#multimedia {
    
    padding: 25px;
    background: rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#cabeçalhomulti{
    text-align:left;
}

#fotografias{
    padding:10px;
    padding-left:0px;
}

.fotosmulti {
    text-align:center;
   
}

.fotosmulti img{
    margin: 0 100px; /* Espaçamento horizontal entre as fotos */
    width: 170px; /* Ajuste conforme necessário */
    height: auto;
    padding: 5px;
    border-radius: 5%;
}

.fotosmulti a {
    height: auto;
   padding: 10px;
    
}

.fotosmulti a:hover {
    background-color: white;
}

h3{
    color:#1db954;
    border-bottom: 2px solid #1db954; 
    padding-bottom: 5px; 
    margin-bottom: 15px; 
}

#videosintra{
    text-align: center;
}

#navmultimedia{
    text-align:center;
    padding:10px;
}

#titulopoema{
    color: #1db954;
}


#fotoindex{
        height: 350px;
        background-image: url('images/imagem\ banner.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
}

div{
    display: block;
    text-align: left;
    padding: 15px;
    background: rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
}

li{
    font-size: 2em;
}

li:nth-child(2n+1){
    color: green;
}

ol{
    list-style-type:upper-roman;

}

ul{
    list-style-type: square;
}

.tabelainteresse{
    width: 200px;
    margin: 20px ;
    text-align: center;
    padding: 15px;
}

#tabelainteresse {
    th {
        background-color: rgb(24, 24, 24);
        color: white;
        padding: 5px;
    }

    td {
        text-align: center;
        padding: 10px;
        border: 1px solid #ccc;
    }

    tbody tr:nth-child(odd) {
        background-color: rgb(255, 255, 255);
        
    }

    tbody tr:nth-child(even) {
        background-color: beige;
        
    }

    th, td {
        font-size: 14px;
    }
}

a:link {color: #383838; text-decoration: none;}
a:visited{color: #383838; text-decoration: none;}
a:hover{
    background-color:#1db954; 
    color: white;
    text-decoration: none;
    padding: 5px; 
    border-radius: 5px;
}

