* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    grid-area: header-area;
    text-align: center;
    background-color: #1db954;
    color: white;
}

nav {

    display: grid;
    grid-area: nav-area;
    text-align: center;
    background-color: white;
    color: #383838;
    padding: 35px;
    text-align: center;

    a:link {
        color: #383838;
        text-decoration: none;
        padding: 10px 20px;
        border: none;
    }

    a:visited {
        color: #383838;
        text-decoration: none;
    }

    a:hover {
        background-color: #1db954;
        color: white;
        text-decoration: none;
        border-radius: 10px;
        padding: 5px 10px;

    }
}

main {
    display: grid;
    grid-area: main-area;
    text-align: center;
    background-color: white;
    color: #383838;
    padding: 35px;
}

aside {
    grid-area: aside-area;
    text-align: center;
    background-color: white;
    color: #383838;
    padding: 35px;

    img {
        max-width: 100%;
        height: auto;
    }
}

footer {
    grid-area: footer-area;
    text-align: center;
    background-color: #1db954;
    color: white;
    
}

body {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
        'header-area header-area header-area'
        'nav-area main-area aside-area'
        'footer-area footer-area footer-area';
    grid-gap: 20px;
}



@media(max-width:768px) {

    body {
        display: grid;
        width: 100vw;
        height: 100vh;
        
        grid-template-columns: 1fr;
        grid-template-rows: 9vw 7vw 1fr 7vw 7vw;
        
        grid-template-areas:
        'header-area'
        'nav-area'
        'main-area'
        'aside-area'
        'footer-area';
    }

    nav {
        display: flex;
        grid-area: nav-area;

    }
    
}